@(key:String, user:models.ot.Users)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Z-Theme | Multipurpose Responsive Template</title>
        <link rel="icon" href="@routes.Assets.versioned("ztheme/assets/images/favicon.ico")">
            <!--[if IE 8]>
                        <html class="ie8">
                            <![endif]-->
            <!-- Bootstrap -->
        <link href="@routes.Assets.versioned("ztheme/css/bootstrap.min.css")" rel="stylesheet">
            <!-- Fonts -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800,300' rel='stylesheet' type='text/css'>  -->
        <link href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")" rel="stylesheet">

        <!-- Plugins -->



            <!-- Theme -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("ztheme/assets/css/theme.css")">
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                                            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                                            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                                            <![endif]-->
    </head>
    <body class="body-nav-fixed-menu-top">
        <div class="wrapper-body" ng-app="otApp" >
                <!-- NAVBAR -->
                <!--===============================================================-->
            @helpers.navbar(user)
                <!-- NAVBAR END -->
                <!-- SECTION HEADING -->
                <!--===============================================================-->
            <div class="section-heading-page">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="heading-page text-center-xs">New Test</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb text-right text-center-xs">
                                <li>
                                    <a href="javascript:void(0)">Home</a>
                                </li>
                                <li class="active">New Test</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Flash and ajax error and success message -->

            <div class="col-md-8 col-sm-offset-2" ng-controller="ResponseController" >

                <div class="alert alert-success alert-dismissable fade in" ng-repeat="s in success">
                    <strong>Success ! </strong> {{ s }}
                    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                </div>

                <div class="alert alert-danger alert-dismissable fade in" ng-repeat="e in errors">
                    <strong>Error ! </strong> {{ e }}
                    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                </div>

            </div>
                <!-- SECTION -->
                <!--===============================================================-->


            <!-- NAV BAR TAB -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row-code">
                    <div class="row row-tabs" role="tabpanel">
                        <div class="col-xs-12">

                            <div class="tabs-top tabs-justified-top">
                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#newTestTab" aria-controls="message-3" role="tab" data-toggle="tab" class="title-md">New Test</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#newQuestionTab" aria-controls="home-3" role="tab" data-toggle="tab" class="title-md">New Question</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#allQuestionTab" aria-controls="profile-3" role="tab" data-toggle="tab" class="title-md">All Question</a>
                                    </li>
                                </ul>
                                <div class="tab-content">

                                    <!-- NEW TEST FORM -->

                                    <div role="tabpanel" class="tab-pane fade in active" id="newTestTab" ng-view >

                                    </div>
                                    <!-- NEW QUESTION FORM -->

                                    <div role="tabpanel" class="tab-pane fade" id="newQuestionTab" ng-controller="QuestionSubmitController">
                                        <div class="panel panel-primary text-theme" >
                                            <div class="panel-heading">
                                                <h3 class="panel-title">New Question</h3>
                                            </div>
                                            <div class="panel-body" style="background: antiquewhite">
                                                <div class="form-group">
                                                    <label for="question">Question:</label>
                                                    <textarea class="form-control" rows="5" id="question" ng-model="question"></textarea>
                                                </div>

                                                <div ng-repeat="item in items">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-1">
                                                                <label for="question"> <h3>{{ item.index }}.</h3></label>
                                                            </div>

                                                            <div class="col-sm-9">
                                                                <textarea class="form-control" rows="2"  ng-model="items[$index].value">{{ item.value }}</textarea>
                                                            </div>

                                                            <div class="col-sm-2">
                                                                    Correct?
                                                                <input type="checkbox" ng-model="items[$index].correct" ng-change="toggleCorrect({{$index}})"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="icon-box col-sm-1 col-sm-offset-5" ng-click="addOption()">
                                                        <i class="fa fa-plus fa-2x fa-round text-theme" >
                                                        </i>
                                                    </div>

                                                    <div class="icon-box col-sm-1" ng-click="delOption()">
                                                        <i class="fa fa-minus fa-2x fa-round text-theme" >
                                                        </i>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <select class="form-control" ng-model="difficultyLevel">
                                                            @for(cType <- models.ot.Enums.DifficultyType.values()){
                                                                <option value="@cType.getEventValue">@cType.name()</option>
                                                            }
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" ng-model="questionType">
                                                            @for(cType <- models.ot.Enums.QuestionType.values()){
                                                                <option value="@cType.getEventValue">@cType.name()</option>
                                                            }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <input type="button" class="btn btn-primary" ng-click="submitQuestion()"  value="Submit"/>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- LIST ALL QUESTION LIST -->

                                    <div role="tabpanel" class="tab-pane fade" id="allQuestionTab" ng-controller="QuestionListController">

                                        <div class="panel panel-default" ng-repeat="item in questions">
                                            <div class="panel-body">
                                                {{ $index+1 }} : {{ item.question }}
                                                    <a href="javascript:void(0)" ><i class="fa fa-edit"></i></a>
                                                    <a href="javascript:void(0)" ><i class="fa fa-trash"></i></a>
                                            </div>
                                            <ul>
                                                <li ng-repeat="option in item.options">

                                                        <i ng-if="option.correct" class="fa fa-check" style="color: green"></i>
                                                        <i ng-if="!option.correct" class="fa fa-close" style="color: red"></i>
                                                        {{ option.value }}
                                                </li>
                                            </ul>
                                            <div class="panel-footer clearfix">
                                                    <div class="pull-right">
                                                        <button class="btn btn-primary" ng-click="AddQuestionToTest($index)">Add to Test</button>
                                                    </div>
                                            </div>
                                        </div>

                                        <hr class="hr-divider">

                                        <button class="btn btn-primary btn-lg btn-rounded btn-ghost" type="button" ng-click="loadMoreQuestion()">Load more !</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <hr class="hr-divider">
                </div>
            </div>




            <!-- SECTION FOOTER -->
                <!--===============================================================-->
            @helpers.footer()


                <!--SECTION FOOTER BOTTOM -->
                <!--===============================================================-->
            @helpers.footer_bottom()


        </div>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="@routes.Assets.versioned("javascripts/angular.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-route.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
        <script src="@routes.Assets.versioned("ztheme/assets/js/page/page.navbar-fixed-shrinked.js")"></script>
        <script src="@routes.Assets.versioned("ztheme/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("ztheme/assets/js/page/theme.js")"></script>

        <script>
            var page = -1;
            var app = angular.module('otApp',['ngRoute']);
            var errors=[];
            var success=[];
            var newTest={};
            var questionList=[];
            var selectedQuestionList=[];

            app.service('sharedResponse', function(){

                return {
                    getErrors : function(){
                        return errors;
                    },
                    getSuccess : function(){
                        return success;
                    } ,
                    setErrors : function(value){
                        errors = value;
                    },
                    setSuccess : function(value){
                        success = value;
                    },
                    setTest: function(value){
                        newTest = value;
                    },
                    getTest : function(){
                        return newTest;
                    },
                    getQuestionList: function(){
                        return questionList;
                    },
                    setQuestionList: function(value){
                        questionList = value;
                    },
                    addSingleQuestion: function(value){
                        questionList.push(value);
                    },
                    addMultipleQuestion: function(value){
                        questionList = questionList.concat(value)
                    },
                    getSelectedQuestionList: function(){
                        return selectedQuestionList;
                    },
                    setSelectedQuestionList: function(value){
                        selectedQuestionList = value;
                    },
                    addToSelectedQuestionList: function(value){
                        var elem = questionList[value];
                        selectedQuestionList.push(elem);
                        questionList.splice(value,  1);
                    },
                    removeFromSelectedQuestionList: function(value){
                        var elem=selectedQuestionList[value];
                        questionList.push(elem);
                        selectedQuestionList.splice(value, 1);
                    }

                };
            });

            app.controller('ResponseController', function($scope, sharedResponse){
                $scope.success = [];
                $scope.errors = [];
                $scope.$watch(function(){return sharedResponse.getErrors()+sharedResponse.getSuccess() }, function(newVal){
                    $scope.success = sharedResponse.getSuccess();
                    $scope.errors = sharedResponse.getErrors();

                }, true);
            });

            app.controller('QuestionSubmitController', function ( $scope, $http, sharedResponse ) {



                $scope.question = "This";
                $scope.addOption = function(){
                    $scope.items.push({ index:($scope.items.length+1) , value:'Default' , correct:false });
                    console.log($scope.items);
                };

                $scope.delOption = function(){
                    $scope.items.pop();
                    console.log($scope.items);
                };

                $scope.toggleCorrect = function(index){
                    console.log("toggle correct "+index);
//                    $scope.items[index].correct = !$scope.items[index].correct;
                };

                $scope.questionType = 1;
                $scope.difficultyLevel = 1;
                $scope.key = "@key";

                $scope.items = [{index:1 , value:'Option 1', correct:false}];

                $scope.submitQuestion = function() {

                    sharedResponse.setErrors([]);
                    sharedResponse.setSuccess([]);

                    console.log("inside submit question ");
                        $http ( {
                            method : 'POST',
                            url : '/new_question',
                            data : {
                                id:null,
                                question : $scope.question,
                                answers : $scope.items,
                                questionType : $scope.questionType,
                                difficultyLevel : $scope.difficultyLevel,
                                key : $scope.key
                            }
                            } ).then ( function successCallback ( response ) {
                                    res  = response;
                                    console.log ( "succcess" ) ;
                                    sharedResponse.setSuccess(response.data.success);
                                }, function errorCallback ( response ) {
                                    res  = response;
                                    console.log ( "error" ) ;
                                    sharedResponse.setErrors(response.data.error);
                                } ) ;
                    };
            });

            app.controller('QuestionListController', function($scope, $http, sharedResponse){
             $scope.key = "@key";
             question = {
                        id:1,
                        question : 'This is hard coded question' ,
                        options : [
                            {value : 'Option 1', correct:false},
                            {value : 'Option 2', correct:true},
                            {value : 'Option 3', correct:false},
                            {value : 'Option 1', correct:true},
                        ],
                        questionType:1,
                        difficultyLevel:1
                    };
                $scope.questions = [];
                sharedResponse.addSingleQuestion(question);


                $scope.loadMoreQuestion = function (){
                    page = page+1;
                    $http ( {
                        method : 'POST',
                        url : '/list_questions?page='+page,
                        data : {
                            key : $scope.key
                        }
                    } ).then ( function successCallback ( response ) {
                        console.log ( "succcess" ) ;
                        sharedResponse.addMultipleQuestion(response.data.data);
                    }, function errorCallback ( response ) {
                        console.log ( "error" ) ;
                        sharedResponse.setErrors(response.data.error);
                    } ) ;
                };

                $scope.AddQuestionToTest = function(index){
                    sharedResponse.addToSelectedQuestionList(index);
                };

                $scope.$watch(function(){
                    return sharedResponse.getQuestionList();
                }, function(newVal){
                    $scope.questions = sharedResponse.getQuestionList();
                }, true);

            });




            app.controller('CreateTestController', function($scope, sharedResponse){
                $scope.test = sharedResponse.getTest();
                $scope.$watch(function(){
                    return $scope.test;
                }, function(newVal){
                    sharedResponse.setTest($scope.test);
                }, true);
            });

            app.controller('AddQuestionController', function($scope, $http, sharedResponse){
                $scope.test = sharedResponse.getTest();
                $scope.questions = sharedResponse.getSelectedQuestionList();

                $scope.RemoveQuestionFromTest = function(index){
                    sharedResponse.removeFromSelectedQuestionList(index);
                };

                $scope.$watch([function(){
                    return sharedResponse.getTest();
                }, function(){
                    return sharedResponse.getSelectedQuestionList();
                }], function(){
                    $scope.questions = sharedResponse.getSelectedQuestionList();
                    $scope.test = sharedResponse.getTest();
                }, true)


            });

            app.config(['$routeProvider' , function($routeProvider){
                 $routeProvider.when('/new_test', {
                     templateUrl : 'new_test/new_test_form',
                     controller:'CreateTestController'
                 } ).when('/add_question', {
                     templateUrl : 'new_test/add_questions',
                     controller : 'AddQuestionController'
                 }).otherwise({
                        redirectTo:'/new_test'
                 })  ;
            }]);

        </script>
    </body>
</html>
