@(resetForm:Form[controllers.ot.forms.PasswordResetForm])
@import views.html.ot.ztheme.helpers.SignupFieldConstructor
@import helper._
@implicitField = @{ FieldConstructor(SignupFieldConstructor.f) }


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Z-Theme | Multipurpose Responsive Template</title>
        <link rel="icon" href="@routes.Assets.versioned("ztheme/assets/images/favicon.ico")">
            <!--[if IE 8]>
                        <html class="ie8">
                            <![endif]-->
            <!-- Bootstrap -->
        <link href="@routes.Assets.versioned("ztheme/css/bootstrap.min.css")" rel="stylesheet">
            <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
            <!-- Theme -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("ztheme/assets/css/theme.css")">
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                                            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                                            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                                            <![endif]-->
    </head>
    <body class="body-nav-fixed-menu-top">
        <div class="wrapper-body">
                <!-- NAVBAR -->
                <!--===============================================================-->
            @helpers.navbar(null)

                <!-- NAVBAR END -->
                <!-- SECTION HEADING -->
                <!--===============================================================-->
            <div class="section-heading-page">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="heading-page text-center-xs">Reset Password</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb text-right text-center-xs">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li class="active">Reset Password</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            @helpers.flashbar()
                <!-- SECTION -->
                <!--===============================================================-->
            <div class="section section-xs section-bottom">
                <div class="container">
                    <div class="row mb">
                        <div class="col-md-8 col-sm-offset-2">
                        @if(resetForm.hasErrors){
                            @if(resetForm.errors.size > 0){
                                @for(( key , values ) <- resetForm.errors){
                                    @for(err <- values){

                                        <div class="alert alert-danger alert-dismissable fade in">
                                            <strong>@key.toString ! </strong> @err.message.toString
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                                        </div>
                                    }
                                }
                            }
                        }
                        </div>

                        <div class="col-md-6 col-md-offset-3">
                            <h3 class="title-md hr-left text-theme">Log in</h3>
                            <div class="panel panel-primary text-theme">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Log In</h3>
                                </div>
                                <div class="panel-body">
                                @helper.form(action = routes.OtApplication.resetPasswordPOST()) {
                                    @CSRF.formField

                                    <div class="form-group">
                                        <label for="inputPassword">Password</label>
                                        @helper.inputPassword(resetForm("password"),'label->"", 'id->"inputPassword", 'placeholder->"Password", 'class->"form-control")
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPasswordConfirm">Confirm Password</label>
                                        @helper.inputPassword(resetForm("confirmPassword"),'label->"", 'id->"inputPasswordConfirm", 'placeholder->"Confirm Password", 'class->"form-control")
                                    </div>

                                    <div class="form-group" style="display: none">
                                        <label for="inputPasswordConfirm">Confirm Password</label>
                                        @helper.inputText(resetForm("token"),'label->"", 'id->"inputPasswordConfirm", 'placeholder->"Confirm Password", 'class->"form-control" , 'value->resetForm("token") )
                                    </div>



                                    <button type="submit" class="btn btn-primary">Reset Password</button>
                                }

                                </div>
                            </div>
                            <span style="float: left">
                                Not Registered ? <a href="@routes.OtApplication.register()"> Goto Register </a>
                            </span>
                            <span style="float: right">
                                Already Registered ? <a href="@routes.OtApplication.login()"> Login </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
                <!-- SECTION FOOTER -->
                <!--===============================================================-->
            @helpers.footer()


                <!--SECTION FOOTER BOTTOM -->
                <!--===============================================================-->
            @helpers.footer_bottom()


        </div>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="@routes.Assets.versioned("ztheme/assets/js/page/page.navbar-fixed-shrinked.js")"></script>
        <script src="@routes.Assets.versioned("ztheme/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("ztheme/assets/js/page/theme.js")"></script>
    </body>
</html>
